
# Deny access to files starting with .env
<Files ".env*">
    Require all denied
</Files>

# Deny access to composer files
<Files "composer.*">
    Require all denied
</Files>

# Deny access to vendor directory
RedirectMatch 403 /vendor/
